.sidebar-container{
    display: flex;
    flex-direction: column;
    width: 18%;
    border: 1.5px solid#a9a9a9;
    border-top: 0;
    min-height: 100vh;
    align-items: flex-end;
    padding-top: 30px;
    gap: 20px;
}
.sidebars{
    display: flex;
    align-items: center;
    width: 80%;
    border: 1.5px solid #a9a9a9;
    border-right: 0;
    padding: 5px 10px;
    gap: 10px;
}

.sidebar-image{
    height: 30px;
    width: 30px;
}
.sidebar-image img{
    width: 100%;
}
.sidebar-container .active{
    background-color: #fff0ed;
    border-color: tomato;
}

@media (max-width: 900px) {
    .sidebars p{
        display: none;
    }
}