.orders-container{
    padding-top: 40px;
}
.map-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: #fff2ef;
    padding: 20px;
    border-radius: 20px;
}

.map-box {
    width: 50%;
    height: 400px;
    border-radius: 20px;
    border: 2px solid black;
}

.delivery-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.color {
    color: tomato;
    margin-bottom: 5px;
    font-size: 20px;
}

.bold {
    font-weight: 600;
}
.btns{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

@media (max-width: 900px) {
    .map-container {
        flex-direction: column;
    }

    .map-box {
        width: 100%;
        height: 300px;
    }
}