.navbar{
    display: flex;
    padding: 5px 40px;
    justify-content: space-between;
    align-items: center;
}
.logo-container{
    height: 100%;
}
.image{
    height: 50px;
    width: 50px;
}
.image img{
    width: 100%;
    height: 100%;
}