.navbar {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 34px;
}

.image {
    height: 5rem;
    width: 5rem;
}

.image img {
    width: 100%;
}
.navbar-right-box{
    display: flex;
    align-items: center;
    gap: 34px;
}
.fa-magnifying-glass, .fa-cart-shopping{
    font-size: 1.5rem;
    cursor: pointer;
}
.navbar-profile{
    position: relative;
}
.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}
.size{
    font-size: 27px;
}
.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid tomato;
    outline: 2px solid white;
    list-style: none;
}
.nav-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.nav-profile-dropdown i{
    font-size: 20px;
}
@media (max-width: 700px) {
    .navbar-ul{
        display: none;
    }
    .navbar-right-box{
        gap: 10px;
    }
    .fa-magnifying-glass, .fa-cart-shopping{
        font-size: 20px;
    }
}
