.my-orders {
    margin: 50px 0px;
}

.my-orders .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.all-order-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.order-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order-food-card img {
    height: 150px;
    width: 150px;
}

.myorder-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    padding: 20px;
    border-radius: 10px;
}

.orderid {
    font-weight: 600;
}

.status {
    color: tomato;
    font-weight: 600;
}

.order-box {
    padding: 10px;
    border: 1px solid tomato;
    border-radius: 10px;
}

.myorder-box-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.item-name {
    font-weight: 600;
    font-size: 15px;
}

.font {
    font-size: 14px;
}

.track-btn {
    border: none;
    padding: 12px 12px;
    border-radius: 4px;
    background-color: tomato;
    cursor: pointer;
    color: white;
}

.rating {
    display: flex;
}

.rating i {
    margin-top: 10px;
}

.yellow {
    color: #FFA500;
}

.display-flex {
    display: flex;
}

@media (max-width: 900px) {

    .my-orders-order,
    .my-orders-order-delivery {
        grid-template-columns: 1fr 2fr 1fr;
        row-gap: 5px;
        font-size: 12px;
    }

    .my-orders-order button,
    .my-orders-order-delivery button {
        font-size: 10px;
    }

    .all-order-items {
        justify-content: center;
    }
}