.food-items-list-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px,1fr));
    gap: 15px;
}
.food-item-container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    gap: 10px;
    box-shadow: 0px 0px 10px 0px #dcdbdb;
}
.food-container{
    display: flex;
    justify-content: center;
}
.food-item-image{
    position: relative;
    width: 100%;
    height: 200px;
    animation: fadein 3s;
}
.food-item-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.food-item-info{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.price{
    font-size: 1.5rem;
    font-weight: 600;
    color: tomato;
}
.add-items{
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 8px 10px;
    background-color: white;
    border-radius: 50%;
}
.display-count{
    position: absolute;
    padding: 4px;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 20px;
}
.minus-btn, .pluse-btn{
    padding: 8px 10px;
    border-radius: 50%;
}
.minus-btn{
    background-color: rgb(254 159 159);
}
.pluse-btn{
    background-color: #97ff97;
}
@media (max-width: 700px) {
}